<a href="https://colab.research.google.com/github/alps17p/alps/blob/main/alps4_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
f = lambda x : x * x
num = int(input("Enter the number:"))
print(f(num))

Enter the number:6
36

In [ ]:
add = lambda a , b: a + b
num1 = int(input("Enter 1st number:"))
num2 = int(input("Enter 2nd number:"))
print(add(num1,num2))

Enter 1st number:6
Enter 2nd number:4
10

In [ ]:
add = lambda : int(input("Enter 1st number:")) + int(input("Enter 2nd number:"))
print(add())

Enter 1st number:3
Enter 2nd number:7
10

In [ ]:
# list = [1,2,3,4,5]
my_list_cal = lambda x: [ i ** 2 for i in x]
print(my_list_cal([1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [6]:
products = [{'name': 'phone','price': 10000},
            {'name': 'printer','price':20000},
            {'name': 'laptop', 'price':40000},
            {'name': 'headphone','price':5000}]

sorted_products = sorted(products, key = lambda x : x['price'])
for products in sorted_products:
  print(products)

{'name': 'headphone', 'price': 5000}
{'name': 'phone', 'price': 10000}
{'name': 'printer', 'price': 20000}
{'name': 'laptop', 'price': 40000}