<a href="https://colab.research.google.com/github/alps17p/alps/blob/main/alps6_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
try:
   n = int(input("Enter num1: "))
   d = int(input("Enter num2: "))

   result = n / d
   print("Results",result)

except ZeroDivisionError:
   print("You have divided the number by zero")

except ValueError:
  print("It's integer but you have entered float")

Enter num1: 66
Enter num2: 3
Results 22.0

In [10]:
# Type error

try:
  x = "10"
  y = 20
  z = x + y
  print(z)

except TypeError:
  print("Data type mismatch")

Data type mismatch

In [11]:
try:
  list1 = [1,2,3,4]
  print(list1[4])

except IndexError:
  print("Wrong Index")

Wrong Index

In [12]:
try:
  my_dictionary = { "name": "Alice", "age": 22 }
  print(my_dictionary["city"])

except KeyError:
  print("key not found")

key not found