<a href="https://colab.research.google.com/github/alps17p/alps/blob/main/alps10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = "John Doe"
print(name)

John Doe

In [5]:
# Index starts from 0 to n-1....0-7
# 0 = J
# 1 = o
# 2 = h
# 3 = n ... and so on
print(name[5])

D

In [3]:
for i in "Hello":
  print(i)

H
e
l
l
o

In [6]:
pan = "AXATBNY874"
print(len(pan))

10

In [7]:
tw = "Indian economy growth is not as expected"
print("not" in tw)

True

In [8]:
tw = "Indian economy growth is not as expected"
if "is" in tw :
  print("Data is there in tw")

Data is there in tw

In [13]:
tw = "Indian economy growth is not as expected"
if "notttt" not in tw:
  print("notttt is not in tw")

notttt is not in tw