<a href="https://colab.research.google.com/github/alps17p/alps/blob/main/alps3_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Using update
d1 = {"name":"Alice","Age": 22,"city":"milan","Rollno":"ADOO001234"}
print(d1)

d1.update({"city":"Berlin"})
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'milan', 'Rollno': 'ADOO001234'}
{'name': 'Alice', 'Age': 22, 'city': 'Berlin', 'Rollno': 'ADOO001234'}

In [3]:
# Using update
d1 = {"name":"Alice","Age": 22,"city":"milan","Rollno":"ADOO001234"}
print(d1)

d1["Grade"] = "A"
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'milan', 'Rollno': 'ADOO001234'}
{'name': 'Alice', 'Age': 22, 'city': 'milan', 'Rollno': 'ADOO001234', 'Grade': 'A'}

In [5]:
# Using update
d1 = {"name":"Alice","Age": 22,"city":"milan","Rollno":"ADOO001234"}
print(d1)

d1.update({"Grade":"B"})
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'milan', 'Rollno': 'ADOO001234'}
{'name': 'Alice', 'Age': 22, 'city': 'milan', 'Rollno': 'ADOO001234', 'Grade': 'B'}

In [6]:

d1 = {"name":"Alice","Age": 22,"city":"milan","Rollno":"ADOO001234"}
print(d1)
d1.pop("Age")
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'milan', 'Rollno': 'ADOO001234'}
{'name': 'Alice', 'city': 'milan', 'Rollno': 'ADOO001234'}

In [7]:
d1 = {"name":"Alice","Age": 22,"city":"milan","Rollno":"ADOO001234"}
print(d1)
del d1["Age"]
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'milan', 'Rollno': 'ADOO001234'}
{'name': 'Alice', 'city': 'milan', 'Rollno': 'ADOO001234'}

In [8]:
d1 = {"name":"Alice","Age": 22,"city":"milan","Rollno":"ADOO001234"}
print(d1)

d1.clear()
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'milan', 'Rollno': 'ADOO001234'}
{}

In [9]:
d1 = {"name":"Alice","Age": 22,"city":"milan","Rollno":"ADOO001234"}

for i in d1:
  print(i)

name
Age
city
Rollno

In [10]:
d1 = {"name":"Alice","Age": 22,"city":"milan","Rollno":"ADOO001234"}
for i in d1.values():
  print(i)

Alice
22
milan
ADOO001234