<a href="https://colab.research.google.com/github/alps17p/alps/blob/main/alps2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list1 = ["Apple","banana","Mangoes","cherries"]
print(list1)
print("-----------------------------------------")
del list1[1]
print(list1)

['Apple', 'banana', 'Mangoes', 'cherries']
-----------------------------------------
['Apple', 'Mangoes', 'cherries']

In [3]:
# loop in for
list1 = ["Apple","banana","Mangoes","cherries"]
for i in list1:
  print(i)

Apple
banana
Mangoes
cherries

In [4]:
list1 = ["Apple","banana","Mangoes","cherries"]
for i in range(len(list1)):
  print(list1[i])

Apple
banana
Mangoes
cherries

In [7]:
list1 = ["Apple","banana", "Mangoes","cherries"]
newlist = []
for i in list1:
  if "A" in i:
    newlist.append(i)
    print(newlist)

['Apple']

In [11]:
 newlist = [i for i in list1 if "A" in i]
print(newlist)

['Apple']

In [12]:
list1 = ["Apple","Banana","Mangoe","Cherries"]
list1.sort()
print(list1)

['Apple', 'Banana', 'Cherries', 'Mangoe']

In [13]:
list1 = ["Apple","Banana","Mangoe","Cherries"]
list1.sort(reverse = True)
print(list1)

['Mangoe', 'Cherries', 'Banana', 'Apple']

In [14]:
a = [5,50,8,19,36]
a.sort()
print(a)

[5, 8, 19, 36, 50]

In [15]:
list1 = ["Apple","Banana","Mangoe","Cherries"]
list2 = list1.copy()
print(list2)

['Apple', 'Banana', 'Mangoe', 'Cherries']