<a href="https://colab.research.google.com/github/alps17p/alps/blob/main/alps3_2ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# I just have to keep only duplicate values
set1 = {"UK","US","Germany"}
set2 = {"KSA","Italy","Germany","India"}

set1.intersection_update(set2)

print(set1)

{'Germany'}

In [2]:
set1 = {"UK","US","Germany"}
set2 = {"KSA","Italy", "Germany","India"}

set3 = set1.intersection(set2)
print(set3)

{'Germany'}

In [3]:
set1 = {"UK","US","Germany"}
set2 = {"KSA","Italy","Germany","India"}

set1.symmetric_difference_update(set2)
print(set1)

{'India', 'KSA', 'US', 'UK', 'Italy'}

In [4]:
team1 = {"Tom","Alice","John"}
team2 = {"Ally","Marry","Alice","Jerry"}

team3 = team1.symmetric_difference(team2)
print(team3)

{'Marry', 'John', 'Ally', 'Jerry', 'Tom'}

In [5]:
team1 = {"Tom","Alice","John"}

for i in team1:
  print(i)

Alice
Tom
John