<a href="https://colab.research.google.com/github/alps17p/alps/blob/main/alps3_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Data Dictionaries
# Python version 3.7 they are ordered, but 3.6 they are unordered.
# key : values
d1 = {"name": "Alice", "Age": 22, "city": "Milan"}
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'Milan'}

In [2]:
print(d1["name"])

Alice

In [6]:
print(type(d1))

<class 'dict'>

In [8]:
d1 = {"name": "Alice", "Age": 22, "city": "Milan","city": "Brisbane","city":"Melbourne"}
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'Melbourne'}

In [9]:
d1 = {"name": "Alice","Age": 22, "city": "Milan"}
print(len(d1))

3

In [11]:
d1 = {"name": "Alice","Age": 22, "city":"Milan" }
ky = d1.keys()
#print(ky)

for k in ky:
  print(k)

name
Age
city

In [12]:
# dict constructor
d1 = dict(name ="Alice",age = 22)
print(d1)

{'name': 'Alice', 'age': 22}

In [13]:
d1 = {"name": "Alice","age": 22,"city": "Milan","Rollno":"AD0001234"}
print(d1)

d1["name"] = "Merry"
print(d1)

{'name': 'Alice', 'age': 22, 'city': 'Milan', 'Rollno': 'AD0001234'}
{'name': 'Merry', 'age': 22, 'city': 'Milan', 'Rollno': 'AD0001234'}

In [21]:
# using Update
d1 = {"name": "Alice", "age":22, "city": "Milan"}
print(d1)

d1.update({"city": "Berlin"})
print(d1)

{'name': 'Alice', 'age': 22, 'city': 'Milan'}
{'name': 'Alice', 'age': 22, 'city': 'Berlin'}