<a href="https://colab.research.google.com/github/alps17p/alps/blob/main/alps3_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Data Dictionaries
# python version 3.7 they are ordered, but 3.6 they are unordered
# key : values
d1 = {"name": "Alice", "Age": 22, "city": "milan"}
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'milan'}

In [2]:
print(d1["name"])

Alice

In [3]:
d1 = {"name": "Alice","Age": 22, "city" : "milan"}
print(len(d1))

3

In [4]:
d1 = {"name": "Alice", "Age": 22, "city": "milan", "city": "London", "city":"Melbourne"}
print(d1)

{'name': 'Alice', 'Age': 22, 'city': 'Melbourne'}